.dk {
  &__create-form__item {
    display: flex;
    align-items: center;
  }

  &__create-form__first-line {
    display: grid;
    grid-template-columns: 80px repeat(3, 1fr);
    grid-auto-rows: 80px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
