.dk {
  &__create-form__item {
    display: flex;
    align-items: center;
  }

  &__create-form__first-line {
    display: grid;
    grid-template-columns: 80px 30% repeat(2, 1fr);
    grid-auto-rows: 80px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  &__create-form__line {
    display: grid;
    grid-template-columns: 20% 30% 1fr;
    grid-auto-columns: 33%;
    grid-auto-rows: 72px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
